<div class="design-wrapper">
  <div class="row">
      <div class="col-12">
        <h1 class="header-name">Our Favorite Design</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-3 favorite-img">
      <img src="./../../assets/slike/Adaline_-_YG_-_7x501_600x.jpg" alt="">
      <p class="text-center">Adaline</p>
      <p class="text-center">300$</p>
    </div>
    <div class="col-3 favorite-img">
      <img src="./../../assets/slike/LimerickTT02_600x.jpg" alt="">
      <p class="text-center">Limeric</p>
      <p class="text-center">300$</p>
    </div>
    <div class="col-3 favorite-img">
      <img src="./../../assets/slike/Penny-Mois-RG01_600x.jpg" alt="">
      <p class="text-center">Penny</p>
      <p class="text-center">300$</p>
    </div>
    <div class="col-3 favorite-img">
      <img src="./../../assets/slike/Ivy_-_7x5_-_YG01_600x.jpg" alt="">
      <p class="text-center">Ivy</p>
      <p class="text-center">300$</p>
    </div>
  </div>

</div>
