<div class="header-wrapper">
  <div class="header-main">
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link links">Home</a>
        </li>
        <li class="nav-item dropdown">
          <button class="dropbtn">Engagment</button>
          <div class="dropdown-content">
            <div class="dropdown">
              <li class="engagment-rings">
                <img src="./../../../assets/slike/Cicely-YG-9.20-432_copy_600x.jpg" alt="">
                <a class="dropdown-item">Moissanite Rings</a>
              </li>
              <li class="engagment-rings">
                <img src="./../../../assets/slike/Knolls-RG-Dia-4.20257_ceddc4ac-9d16-4cfc-b42b-2b514c93a558_600x.jpg" alt="">
                <a class="dropdown-item">Diamond Rings</a>
              </li>
              <li class="engagment-rings">
                <img src="./../../../assets/slike/Declan-9x6mmYG-8.20-277_copy_600x.jpg" alt="">
                <a class="dropdown-item" >Gemstone</a>
              </li>
              <li class="engagment-rings">
                <img src="./../../../assets/slike/GroupYellowGold-11.19-253_copy_600x.jpg" alt="">
                <a class="dropdown-item">All Rings</a>
              </li>
          </div>
        </div>
        </li>
        <li class="nav-item dropdown">
          <button class="dropbtn">Bands</button>
          <div class="dropdown-content bands">
            <div class="dropdown">
              <li class="bands-rings">
                <img src="./../../../assets/slike/Warner_CustomRyhan-YG-8.20-927_600x.jpg" alt="">
                <a class="dropdown-item">Her</a>
              </li>
              <li class="bands-rings">
                <img src="./../../../assets/slike/untitled-187-2_600x.jpg" alt="">
                <a class="dropdown-item">His</a>
              </li>
          </div>
        </div>
        </li>
        <li class="nav-item dropdown">
          <button class="dropbtn">Collections</button>
          <div class="dropdown-content collection">
            <div class="dropdown">
              <li class="engagment-rings">
                <img src="./../../../assets/slike/LibertyWeddingSet-YG-1.20_600x.jpg" alt="">
                <a class="dropdown-item">Wedding Sets</a>
              </li>
              <li class="engagment-rings">
                <img src="./../../../assets/slike/Unite-GroupYG-7.20-254-6_2_copy_600x.jpg" alt="">
                <a class="dropdown-item">Unite</a>
              </li>
              <li class="engagment-rings">
                <img src="./../../../assets/slike/Carraway-9x7mmYG-8.20-2-1_copy_600x.jpg" alt="">
                <a class="dropdown-item" >The 1920</a>
              </li>
              <li class="engagment-rings">
                <img src="./../../../assets/slike/Navy_Caroline_Adaline-8.20-135_copy_36894716-08c0-4442-8734-9cb7a66b419f_600x.jpg" alt="">
                <a class="dropdown-item">Ready to Ship</a>
              </li>
          </div>
        </div>
        </li>
        <li class="nav-item">
          <a class="nav-link links" >Extras</a>
        </li>
      </ul>
      <div class="logo">
      <img src="./../../../assets/slike/logo_500x.png" alt="">
    </div>
    <div class="search-form">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    </div>
  </nav>
</div>
</div>
