<div class="instagram-section">
  <div class="instagram-header">
      <h1 class="header-text">Fallow Us On Instagram</h1>
      <span class="instagram-hashtag">#zlataraatrijum</span>
  </div>
  <div class="instagram-body">
    <div class="instagram-container">
      <div class="row">
        <div class="col-sm inst-colona">
          <a href="">
            <img class="inst-photo" src="./../../assets/slike/instagram-photo-6.jpg" alt="">
          </a>
        </div>
        <div class="col-sm inst-colona">
          <a href="">
            <img class="inst-photo" src="./../../assets/slike/instagram-photo-4.jpg" alt="">
          </a>

        </div>
        <div class="col-sm inst-colona">
          <a href="">
            <img class="inst-photo" src="./../../assets/slike/instagram-photo-3.jpg" alt="">
          </a>

        </div>
        <div class="col-sm inst-colona">
          <a href="">
            <img class="inst-photo" src="./../../assets/slike/instagram-photo.jpg" alt="" style="height: 80%;">
          </a>

        </div>
        <div class="col-sm inst-colona">
          <a href="">
            <img class="inst-photo" src="./../../assets/slike/instagram-photo-2.jpg" alt="">
          </a>

        </div>
        <div class="col-sm inst-colona">
          <a href="">
            <img class="inst-photo" src="./../../assets/slike/instagram-photo-1.jpg" alt="">
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
