<div class="main-banner-wrapper">
  <div class="row">
    <div class="col-6">
      <!-- <img src="./../../assets/slike/18531_01_2000x.jpg" alt="" style="width: 500px; height: 500px;"> -->
    </div>
    <div class="col-6 slika">
      <img src="./../../assets/slike/explore-moissanite_2000x.jpg" alt="" style="width: 77%;">
    </div>
  </div>

  <div class="row">
    <div class="col-6 slika2">
      <img src="./../../assets/slike/18531_01_2000x.jpg" alt="" style="width: 77%;">
    </div>
    <div class="col-6">
      <!-- <img src="./../../assets/slike/explore-moissanite_2000x.jpg" alt="" style="width: 500px; height: 500px;"> -->
    </div>
  </div>

</div>
