<app-header></app-header>
<div class="application-container">
  <div class="col-12">
  </div>
  <!-- <div class="video-header">
    <h1>The Beginning <br> Of Your Love Story</h1>
    <button>Explore Engagment rings</button>
  </div> -->
   <!-- <div>
    <app-video-section></app-video-section>
   </div> -->
 <!-- <div>
   <app-main-banner></app-main-banner>

 </div> -->
<div>
  <app-favorite-design></app-favorite-design>

</div>

<!-- <div>
  <app-instagram></app-instagram>

</div> -->


</div>
